<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{title}}</title>
<!-- <link rel="stylesheet" type="text/css" href="static/DataTables/media/css/jquery.dataTables.css" /> -->
<style type="text/css" title="currentStyle">
    @import "static/DataTables/media/css/demo_table.css";
</style>

<script type="text/javascript" src="static/js/jquery.js"></script>
<script type="text/javascript" src="static/DataTables/media/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('#kvmhosts').dataTable( {
    "bPaginate": false
    });
});
</script>

</head>

<body>

{% include 'host_table.html' %}

{% include 'guest_table.html' %}

</body>

</html>
